{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current",
          "browsers": ["> 1%", "last 2 versions"]
        }
      }
    ],
    "preact",
    "stage-2"
  ],
  "plugins": [
    "dynamic-import-node",
    "transform-class-properties",
    "transform-object-assign",
    "styled-components",
    [
      "transform-react-jsx",
      {
        "pragma": "h"
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "react": "preact-compat",
          "react-dom": "preact-compat",
          "create-react-class": "preact-compat/lib/create-react-class"
        }
      }
    ]
  ]
}
