@import 'susy';

$susy: (
  columns: 12,
  column-width: 102px,
  gutters: 16px/102px
);

// Base Colors
$white: #fff;
$black: #000;

// Colors
$emperor: #4e4449;
$persimmon: #ff6651;
$cinnabar: #e8523d;

$text-color: $emperor;
$link-color: $persimmon;
$link-color-hover: $cinnabar;

$base-font-size: 16px;
$base-font-weight: 400;
$base-line-height: 24px;
$image-path-prod: '/media/img';
$image-path: $image-path-prod;
// $image-path: '../img';
$svg-path: $image-path + '/svg';

$open-sans: 'Open Sans';
$museo-slab: 'MuseoSlab';

$primary-font-family: $open-sans;
$secondary-font-family: $museo-slab;
$fallback: Helvetica, Arial, sans-serif;

$context: 1800px;
$desktop: 1440px;
$laptop: 1024;
$tablet: 768;
$phablet: 667;
$mobile: 480;

$min: 'min-width';
$max: 'max-width';

$module-padding: 80px;
$half-module-padding: $module-padding / 2;
