.cta {
  display: inline-block;
  &--inline {
    @extend %OpenSansbold;
    @include font-size(16, initial, -10);
    color: $persimmon;
    &:hover {
      color: $link-color-hover;
    }
  }
  &--button {
    @extend %OpenSansExtrabold;
    text-align: center;
    @include font-size(16, initial, -10);
    background-color: $persimmon;
    color: $white;
    padding: 15px 35px;
    border-radius: 35px;
    display: inline-block;
    cursor: pointer;
    &:hover {
      background-color: $link-color-hover;
    }
  }
  &--download {
    @extend %OpenSansbold;
    @include font-size(16, initial, -10);
    color: $persimmon;
    @include background-icon('download-arrow', 'orange') {
      background-size: 16px auto;
      background-position: right center;
      padding-right: 26px;
    }
    &:hover {
      color: $link-color-hover;
    }
  }
  &--arrow {
    @extend %OpenSansbold;
    @include font-size(16, initial, -10);
    color: $persimmon;
    @include background-icon('right-arrow', 'orange') {
      background-size: 16px auto;
      background-position: right center;
      padding-right: 26px;
    }
    &:hover {
      color: $link-color-hover;
    }
  }
}
.webform-submit,
.form-submit {
  @extend %OpenSansExtrabold;
  text-align: center;
  @include font-size(16, initial, -10);
  background-color: $persimmon;
  color: $white;
  padding: 15px 35px;
  border-radius: 35px;
  display: inline-block;
  margin-top: 20px;
  cursor: pointer;
  &:hover {
    background-color: $link-color-hover;
  }
}
