body {
  background-image: url('/media/img/polkadots-bg.jpg');
  background-position: center center;
  background-attachment: fixed;
}
.section-wrapper,
.header-wrapper,
.footer-wrapper,
.accordion__item--wrapper {
  width: 100%;
  margin: 0 auto;
  @include clearfix;
  max-width: 1800px;
  padding: 0 pc(100, $base);
  // @include mq($min, $laptop + 1) {
  //   max-width: 1800px;
  //   padding: 0 pc(100, $base);
  // }
  // @include mq('', $tablet, $laptop) {
  //   max-width: 1700px;
  //   padding: 0 pc(75, $base);
  // }
  // @include mq($max, $tablet - 1) {
  //   max-width: 1650px;
  //   padding: 0 pc(50, $base);
  // }
}
.section {
  width: 100%;
  position: relative;
  padding: $module-padding 0;
  &.accordion,
  &.footer,
  &.header,
  &.hero,
  &.tools {
    padding: 0;
  }
  &--white {
    background-color: $white;
    border-color: $white;
  }
  &--tan {
    background-color: $ecru;
    border-color: $ecru;
  }
  &--orange {
    background-color: $persimmon;
    border-color: $persimmon;
    color: $white;
  }
  &--slant {
    &::before,
    &::after {
      width: 0;
      height: 0;
      position: absolute;
      left: 0;
      right: 0;
    }
    &--top-left {
      margin-top: 120px;
      padding-top: $half-module-padding;
      &::before {
        content: '';
        border-bottom-width: 120px;
        border-bottom-style: solid;
        border-bottom-color: inherit;
        border-right: 100vw solid transparent;
        top: -120px;
      }
    }
    &--top-right {
      margin-top: 120px;
      padding-top: $half-module-padding;
      &::before {
        content: '';
        border-bottom-width: 120px;
        border-bottom-style: solid;
        border-bottom-color: inherit;
        border-left: 100vw solid transparent;
        top: -120px;
      }
    }
    &--bottom-left {
      margin-bottom: 120px;
      padding-bottom: $half-module-padding;
      &::after {
        content: '';
        border-top-width: 120px;
        border-top-style: solid;
        border-top-color: inherit;
        border-right: 100vw solid transparent;
        bottom: -120px;
      }
      + .tools {
        margin-top: -120px;
      }
    }
    &--bottom-right {
      margin-bottom: 120px;
      padding-bottom: $half-module-padding;
      &::after {
        content: '';
        border-top-width: 120px;
        border-top-style: solid;
        border-top-color: inherit;
        border-left: 100vw solid transparent;
        bottom: -120px;
      }
      + .tools {
        margin-top: -120px;
      }
    }
    @include mq($max, $tablet) {
      &--top-left {
        margin-top: 60px;
        &::before {
          border-bottom-width: 60px;
          top: -60px;
        }
      }
      &--top-right {
        margin-top: 60px;
        &::before {
          border-bottom-width: 60px;
          top: -60px;
        }
      }
      &--bottom-left {
        margin-bottom: 60px;
        &::after {
          border-top-width: 60px;
          bottom: -60px;
        }
      }
      &--bottom-right {
        margin-bottom: 60px;
        &::after {
          border-top-width: 60px;
          bottom: -60px;
        }
      }
    }
  }
  &--double-bottom-padding {
    padding-bottom: $module-padding !important;
  }
}
