body {
  background-image: url('/media/img/polkadots-bg.jpg');
  background-position: center center;
}
.section-wrapper,
.header-wrapper {
  @include container($susy);
  max-width: 1400.5px;
  width: 100%;
}
.section {
  position: relative;
  &--tan {
    background-color: #f9f6f0;
    border-color: #f9f6f0;
  }
  &--orange {
    background-color: #ff6651;
    border-color: #ff6651;
    color: $white;
  }
  &--slant {
    &::before,
    &::after {
      width: 0;
      height: 0;
      position: absolute;
      left: 0;
      right: 0;
    }
    &--top-left {
      margin-top: 120px;
      &::before {
        content: '';
        border-bottom-width: 120px;
        border-bottom-style: solid;
        border-bottom-color: inherit;
        border-right: 100vw solid transparent;
        top: -120px;
      }
    }
    &--top-right {
      margin-top: 120px;
      &::before {
        content: '';
        border-bottom-width: 120px;
        border-bottom-style: solid;
        border-bottom-color: inherit;
        border-left: 100vw solid transparent;
        top: -120px;
      }
    }
    &--bottom-left {
      margin-bottom: 120px;
      &::after {
        content: '';
        border-top-width: 120px;
        border-top-style: solid;
        border-top-color: inherit;
        border-right: 100vw solid transparent;
        bottom: -120px;
      }
    }
    &--bottom-right {
      margin-bottom: 120px;
      &::after {
        content: '';
        border-top-width: 120px;
        border-top-style: solid;
        border-top-color: inherit;
        border-left: 100vw solid transparent;
        bottom: -120px;
      }
    }
  }
}
