@import '../../global/defaults/config',
'../../global/defaults/mixins',
'../../global/defaults/grid',
'../../global/defaults/typography';

.articles {
  &--container {
    font-size: 0;
    text-align: center;
  }
  &__header {
    margin-bottom: 30px;
    text-align: center;
    h2 {
      @include font-size(45, null, -50);
    }
  }
  &__article {
    @include col(3);
    display: inline-block;
    vertical-align: top;
    margin: 50px pc(80, $base);
    text-align: center;
    &-image {
      position: relative;
      @include aspect-ratio(1, 1);
      overflow: hidden;
      border-radius: 50%;
      margin-bottom: 40px;
      img {
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        position: absolute;
        object-fit: cover;
      }
    }
    &-content {
      .source {
        @include font-size(16, initial);
        margin-bottom: 10px;
        display: block;
      }
      h6 {
        @extend %OpenSansSemibold;
        @include font-size(20);
      }
    }
    .cta--container {
      margin-top: 10px;
    }
  }
  &__more {
    text-align: center;
    margin-top: 60px;
  }
  @include mq($max, 1100) {
    &__article {
      width: 43%;
      margin: 20px pc(30, 1100);
    }
  }
  @include mq($max, $tablet) {
    &__header {
      margin-bottom: 15px;
    }
  }
  @include mq($max, $phablet) {
    &__article {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      &-image {
        margin: 0 5% 5%;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
