@import '../../global/defaults/config',
'../../global/defaults/mixins',
'../../global/defaults/typography';

.articles {
  &--container {
    font-size: 0;
  }
  &__header {
    margin-bottom: 80px;
    text-align: center;
    h2 {
      font-size: 55px;
      line-height: 65px;
      @include letter-spacing(-50, 55);
    }
  }
  &__article {
    width: span(3);
    display: inline-block;
    vertical-align: top;
    margin: 60px;
    text-align: center;
    &-image {
      position: relative;
      @include aspect-ratio(1, 1);
      overflow: hidden;
      border-radius: 50%;
      margin-bottom: 40px;
      img {
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        position: absolute;
        object-fit: cover;
      }
    }
    &-content {
      .source {
        font-size: 16px;
        @include letter-spacing(-30, 16);
        margin-bottom: 10px;
        display: block;
      }
      h6 {
        @extend %OpenSansSemibold;
        font-size: 24px;
        line-height: 35px;
        @include letter-spacing(-30, 24);
      }
    }
    .cta--container {
      margin-top: 5px;
    }
  }
  &__more {
    text-align: center;
    margin-top: 60px;
  }
}
