@import '../../global/defaults/config',
'../../global/defaults/mixins';

.featured-content {
  text-align: center;
  padding: 60px 0;
  color: #4e4449;
  &-title {
    font-size: 55px;
    line-height: 65px;
    @include letter-spacing(-50, 55);
    margin-bottom: 20px;
  }
  &-text {
    p {
      margin-bottom: 10px;
    }
  }
  .cta--container {
    margin-top: 40px;
  }
  &--container {
    width: span(7);
    margin: 0 auto;
  }
  &.section--left-align {
    text-align: left;
    .featured-content--container {
      margin-left: span(2);
    }
  }
  &.section--orange {
    color: $white;
  }
  &.section--left-align {
    .featured-content--container {
      width: 100%;
      margin: 0;
    }
  }
}
