@import '../../global/defaults/config',
'../../global/defaults/mixins';

.featured-content {
  text-align: center;
  &-title {
    font-size: 45px;
    line-height: 55px;
    @include letter-spacing(-50, 45);
    margin-bottom: 20px;
  }
  &-text {
    h4 {
      font-size: 30px;
      @include letter-spacing(-30, 30);
      margin-bottom: 30px;
    }
    p {
      margin-bottom: 5px;
    }
    ul {
      margin-bottom: 30px;
    }
    li {
      font-size: 16px;
      line-height: 36px;
      @include letter-spacing(-30, 16);
      margin-bottom: 5px;
      margin-left: 22px;
      color: #ff6651;
      width: 30%;
      margin-right: 1%;
      display: inline-block;
      position: relative;
      vertical-align: top;
      span {
        color: #4e4449;
      }
      &::before {
        content: '';
        width: 8px;
        height: 8px;
        background-color: #ff6651;
        border-radius: 50%;
        top: 13px;
        left: -15px;
        position: absolute;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .cta--container {
    margin-top: 30px;
  }
  &--container {
    width: span(7);
    margin: 0 auto;
  }
  &.section--left-align {
    text-align: left;
    .featured-content--container {
      margin-left: span(2);
    }
  }
  &.section--orange {
    color: $white;
  }
  &.section--left-align {
    .featured-content--container {
      width: 100%;
      margin: 0;
    }
  }
}
