<section class="section profile">
  <div class="section-wrapper">
    <figure class="profile__image">
      <img src="{{img}}" alt="" />
    </figure>
    <div class="profile__content">
      <h6>{{copy.title}}</h6>
      {{{copy.text}}}
    </div>
  </div>
</section>
