<section class="section profile section--profile">
  <div class="section-wrapper">
    <figure class="profile__img">
      <img src="./media/img/{{img}}" alt="" />
    </figure>
    <div class="profile__content">
      <h6>{{copy.title}}</h6>
      {{{copy.text}}}
    </div>
  </div>
</section>
