@import '../../global/defaults/config',
'../../global/defaults/mixins',
'../../global/defaults/grid',
'../../global/defaults/typography';

.form {
  &__header {
    margin: 0 10px;
    &-title {
      @include font-size(45, null, -50);
      margin-bottom: 40px;
    }
    &-text {
      text-align: left;
      margin-bottom: 40px;
    }
  }
  .webform-client-form,
  .webform-client-form > div {
    @include clearfix;
  }
  .webform {
    &-client-form {
      text-align: center;
    }
    &-component {
      @include col(4);
      float: left;
      text-align: left;
      margin: 20px 10px;
      label {
        display: block;
        margin-bottom: 10px;
      }
      &-textfield,
      &-number,
      &-email {
        input {
          width: 100%;
          height: 40px;
          background-color: $white;
          border: 1px solid rgba($emperor, .3);
          padding: 10px;
        }
      }
      &-select {
        select {
          width: 100%;
          height: 40px;
          background-color: $white;
          border: 1px solid rgba($emperor, .3);
          padding: 10px;
        }
      }
      &-textarea {
        textarea {
          width: 100%;
          height: 500px;
          background-color: $white;
          border: 1px solid rgba($emperor, .3);
          padding: 10px;
        }
      }
      &.webform-component--what-position-are-you-interested-in,
      &.webform-component--cover-letter,
      &.webform-component--subject,
      &.webform-component--message {
        @include col(8);
      }
    }
  }
  &-actions {
    clear: both;
    text-align: left;
  }
}