@import '../../global/defaults/config',
'../../global/defaults/mixins',
'../../global/defaults/grid';

.hero {
  min-height: 600px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  &__content {
    text-align: center;
    @include col(8);
    margin: 0 auto;
    &-sub-title {
      @include font-size(24);
      color: $emperor;
    }
    &-title {
      @include font-size(65, initial, -50);
      color: $emperor;
      margin-bottom: 20px;
    }
    &-text {
      h4 {
        @include font-size(40, initial);
        margin-bottom: 20px;
      }
      p {
        margin-bottom: 10px;
      }
    }
    .cta--container {
      margin-top: 20px;
    }
  }
  &__img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  &.section--slant {
    &--bottom-right {
      padding-bottom: 120px;
      margin-bottom: 0;
      transform: skewY(4.75deg);
      transform-origin: right top;
      > * {
        transform: skewY(-4.75deg);
        transform-origin: inherit;
      }
      &::after {
        content: none;
      }
    }
    &--bottom-left {
      padding-bottom: 120px;
      margin-bottom: 0;
      transform: skewY(-4.75deg);
      transform-origin: left top;
      > * {
        transform: skewY(4.75deg);
        transform-origin: inherit;
      }
      &::after {
        content: none;
      }
    }
    + .section--white,
    + .section--orange,
    + .section--tan {
      &.section--slant {
        margin-top: 0;
      }
    }
  }
}
