@import '../../global/defaults/config',
'../../global/defaults/mixins';

.hero {
  min-height: 770px;
  height: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  padding-top: 150px;
  overflow: hidden;
  &__content {
    text-align: center;
    width: span(6);
    margin: 0 auto;
    &-sub-title {
      font-size: 30px;
      @include letter-spacing(-30, 30);
      color: #6f686b;
    }
    &-title {
      font-size: 80px;
      line-height: 75px;
      @include letter-spacing(-50, 80);
      color: #4e4449;
      margin-bottom: 20px;
    }
  }
  &__img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  &.section--slant {
    &--bottom-left {
      transform: skewY(4deg);
      transform-origin: right top;
      > * {
        transform: skewY(-4deg);
        transform-origin: inherit;
      }
    }
    &--bottom-right {
      transform: skewY(-4deg);
      transform-origin: right top;
      > * {
        transform: skewY(4deg);
        transform-origin: inherit;
      }
    }
  }
}
