<section class="section split-content section--split-content{{#each classes}} split-content--{{this}}{{/each}}">
  <div class="section-wrapper">
    <div class="split-content__content">
      {{{text}}}
    </div>
    <div class="split-content__img" style="background-image: url('./media/img/{{img}}');"></div>
  </div>
</section>
