@import '../../global/defaults/config',
'../../global/defaults/mixins',
'../../global/defaults/grid',
'../../global/defaults/typography';

.team {
  &__filters {
    float: left;
    @include col(3);
    text-align: left;
    &-label {
      @include font-size(14, initial);
      @extend %OpenSans;
      margin-bottom: 15px;
      display: block;
    }
    &__filter {
      border-top: 1px solid rgba($emperor, .3);
      &-location {
        @extend %OpenSansbold;
        @include font-size(16, initial);
        text-transform: uppercase;
        padding: 15px 25px 15px 0;
        position: relative;
        cursor: pointer;
        h4 {
          font-family: inherit;
          font-weight: inherit;
        }
        &::before,
        &::after {
          content: '';
          border-radius: 100px;
          position: absolute;
          right: 0;
          background-color: $persimmon;
          top: 26px;
          transform: translateY(-50%);
        }
        &::before {
          width: 16px;
          height: 2px;
        }
        &::after {
          height: 16px;
          width: 2px;
          right: 7px;
          transition: height 400ms;
        }
      }
      &__departments {
        display: none;
        padding-bottom: 25px;
        padding-right: 25px;
        &-department {
          margin-bottom: 10px;
          @include font-size(14, initial);
          @extend %OpenSans;
          cursor: pointer;
          &:hover {
            color: $persimmon;
            span {
              text-decoration: underline;
            }
          }
          &--active {
            @extend %OpenSansSemibold;
            color: $persimmon;
            span {
              text-decoration: underline;
            }
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      &:last-child {
        border-bottom: 1px solid rgba($emperor, .3);
      }
      &--open {
        .team__filters__filter-location {
          &::after {
            height: 0;
          }
        }
      }
    }
  }
  &__members {
    font-size: 0;
    text-align: center;
    float: right;
    @include col(10);
    margin-top: -45px;
    &__member {
      @include col(2, 10);
      display: inline-block;
      vertical-align: top;
      margin: 45px pc(45, $base);
      text-align: center;
      &-image {
        @include aspect-ratio(1, 1);
        overflow: hidden;
        border-radius: 50%;
        img {
          min-width: 100%;
          min-height: 100%;
          width: auto;
          height: auto;
          top: 0; // 50%;
          left: 50%;
          transform: translateX(-50%); // translateY(-50%);
          position: absolute;
          object-fit: cover;
        }
      }
      &-name {
        @include font-size(16);
        margin-top: 20px;
        @extend %OpenSansbold;
        h5 {
          font-family: inherit;
          font-weight: inherit;
        }
      }
    }
  }
  @include mq($max, $laptop) {
    &__filters {
      float: none;
      max-width: none;
      width: 100%;
    }
    &__members {
      float: none;
      max-width: none;
      width: 100%;
      margin-top: 60px;
      &__member {
        @include col(2, 10);
      }
    }
  }
  @include mq($max, $tablet) {
    &__members {
      &__member {
        @include col(3, 10);
        margin: 20px 1.5%;
      }
    }
  }
  @include mq($max, $phablet) {
    &__members {
      &__member {
        @include col(4, 10);
      }
    }
  }
  @include mq($max, $mobile) {
    &__members {
      &__member {
        max-width: none;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
