@import '../../global/defaults/config',
'../../global/defaults/mixins',
'../../global/defaults/typography';

.team {
  &__filters {
    @include span(2);
    &-label {
      font-size: 14px;
      @include letter-spacing(-30, 14);
      @extend %OpenSans;
      margin-bottom: 15px;
      display: block;
    }
    &__filter {
      border-top: 1px solid rgba(#4e4449, .3);
      &-location {
        @extend %OpenSansbold;
        font-size: 16px;
        text-transform: uppercase;
        @include letter-spacing(-30, 16);
        padding: 15px 0;
        position: relative;
        cursor: pointer;
        h4 {
          font-family: inherit;
          font-weight: inherit;
        }
        &::before,
        &::after {
          content: '';
          border-radius: 100px;
          position: absolute;
          right: 0;
          background-color: #ff6651;
          top: 50%;
          transform: translateY(-50%);
        }
        &::before {
          width: 16px;
          height: 2px;
          top: 50%;
        }
        &::after {
          height: 16px;
          width: 2px;
          right: 7px;
          transition: height 400ms;
        }
      }
      &__departments {
        display: none;
        padding-bottom: 25px;
        &-department {
          margin-bottom: 15px;
          font-size: 14px;
          @include letter-spacing(-30, 14);
          @extend %OpenSans;
          span {
            text-decoration: underline;
          }
          &--active {
            @extend %OpenSansSemibold;
            color: #ff6651;
            span {
              text-decoration: none;
            }
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      &:last-child {
        border-bottom: 1px solid rgba(#4e4449, .3);
      }
      &--open {
        .team__filters__filter-location {
          &::after {
            height: 0;
          }
        }
      }
    }
  }
  &__members {
    font-size: 0;
    text-align: center;
    @include span(9 last);
    margin-top: -45px;
    &__member {
      width: span(2);
      display: inline-block;
      vertical-align: top;
      margin: 45px;
      text-align: center;
      &-image {
        @include aspect-ratio(1, 1);
        overflow: hidden;
        border-radius: 50%;
        img {
          min-width: 100%;
          min-height: 100%;
          width: auto;
          height: auto;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          position: absolute;
          object-fit: cover;
        }
      }
      &-name {
        font-size: 16px;
        line-height: 36px;
        margin-top: 20px;
        @include letter-spacing(-30, 16);
        @extend %OpenSansbold;
        h5 {
          font-family: inherit;
          font-weight: inherit;
        }
      }
    }
  }
}
