<section class="section main-content section--main-content{{#each classes}} section--{{this}}{{/each}}">
  <div class="section-wrapper">
    <div class="main-content__content">
      <img src="./media/img/NeuroStar-Glamour-Shot-LeftAngle.png" alt="" />
      <h2>Utilizing Transcranial Magnetic Stimulation at DNA</h2>
      <p>We are excited to begin the use of Transcranial Magnetic Stimulation (TMS).</p>
      <p>This is an FDA approved, non-invasive procedure that uses magnetic fields to stimulate nerve cells in the brain in order to improve the symptoms of depression. TMS is typically used when other depression treatments haven’t been effective.</p>
      <p>Elite DNA’s Port Charlotte office has already begun this new and excited treatment while our Fort Myers offices will launch TMS in July.</p>
      <p>It is our goal to provide access to effective and cutting edge treatment. Many insurance companies have established medical coverage to policies for TMS Therapy and our team can review and specific questions you may have regarding coverage.</p>
      <h4>Some Interesting Facts about TMS:</h4>
      <ol>
        <li>Patients are awake and alert during treatment</li>
        <li>Patients can resume their normal activities immediately after their treatment</li>
        <li>In-office treatment takes 19 to 37 minutes</li>
        <li>Treatment is administered 5 days a week, for approximately 4-6 weeks</li>
      </ol>
    </div>
  </div>
</section>
