@import '../../global/defaults/config',
'../../global/defaults/mixins',
'../../global/defaults/grid',
'../../global/defaults/typography';

.solutions {
  &__header {
    @include col(8);
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
    &-title {
      @include font-size(45);
      margin-bottom: 30px;
    }
  }
  &__list {
    font-size: 0;
    text-align: center;
    &-item {
      display: inline-block;
      vertical-align: top;
      @include col(3, $base, 10);
      text-align: center;
      padding: 0 pc(10, $base);
      margin-right: pc(20, $base);
      &__title {
        @include font-size(22);
        @extend %OpenSansSemibold;
        margin-bottom: 20px;
        h6 {
          font-family: inherit;
          font-weight: inherit;
        }
      }
      &__text {
        p {
          @include font-size(16);
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
