@import '../../global/defaults/config',
'../../global/defaults/mixins',
'../../global/defaults/typography';

.solutions {
  &__header {
    width: span(8);
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
    &-title {
      @include font-size(45);
      margin-bottom: 30px;
    }
  }
  &__list {
    @include clearfix;
    &-item {
      @include span(3);
      text-align: center;
      padding: 0 10px;
      &__title {
        @include font-size(24);
        @extend %OpenSansSemibold;
        margin-bottom: 20px;
        h6 {
          font-family: inherit;
          font-weight: inherit;
        }
      }
      &__text {
        p {
          @include font-size(20);
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
