@import '../../global/defaults/config',
'../../global/defaults/functions',
'../../global/defaults/mixins',
'../../global/defaults/grid',
'../../global/defaults/typography';

.header {
  background-color: $white;
  position: relative;
  z-index: 10;
  padding: 25px 0 0;
  &-wrapper {
    @include clearfix;
  }
  &__logo {
    float: left;
    @include col(3);
    img {
      width: auto;
      max-height: 75px;
      max-width: 200px;
    }
  }
  &__nav {
    float: right;
    @include col(10);
    text-align: right;
    &-utility {
      font-size: 0;
      margin: 0 0 20px;
      li {
        display: inline-block;
        vertical-align: top;
        @include font-size(13, initial, -10);
        @extend %OpenSansSemibold;
        color: $emperor;
        &::after {
          content: '•';
          color: inherit;
          padding: 0 8px;
        }
        &:last-child {
          &::after {
            content: none;
            padding: 0;
          }
        }
      }
    }
    &-menu {
      font-size: 0;
      li {
        display: inline-block;
        vertical-align: top;
        @include font-size(15, initial, -10);
        margin-left: pc(55, 1330);
        @extend %OpenSansSemibold;
        a {
          color: $emperor;
          font-weight: inherit;
          padding-bottom: 25px;
          display: block;
          &.active,
          &:hover {
            color: $strikemaster;
          }
        }
        .menu,
        .sub-menu {
          display: none;
          position: absolute;
          background-color: $white;
          width: 225px;
          li {
            text-align: left;
            font-weight: 400;
            display: block;
            margin: 0;
            a {
              padding: 10px 20px;
              border-bottom: 1px solid rgba($emperor, .15);
            }
            &:last-child {
              a {
                border-bottom: 0 none;
              }
            }
          }
        }
        &.expanded,
        &.has-menu {
          position: relative;
          &:hover {
            .menu,
            .sub-menu {
              display: block;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 64em) {
    padding-top: 0;
    &__logo {
      padding: 13px 0 12px;
      img {
        max-width: 150px;
      }
    }
    &__nav {
      display: none;
    }
  }
}
