<header class="header">
  <div class="header-wrapper">
    <figure class="header__logo">
      <img src="/media/img/logo.png" alt="" />
    </figure>
    <nav class="header__nav">
      <ul class="header__nav-utility">
        <li><a href="#">info@elitednatherapy.com</a></li>
        <li>(239) 223-2751</li>
      </ul>
      <ul class="header__nav-menu">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Our Team</a></li>
        <li><a href="#">Care Services</a></li>
        <li><a href="#">News &amp; Resources</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
