@import '../../global/defaults/config',
'../../global/defaults/mixins',
'../../global/defaults/typography';

.header {
  background-color: #fff;
  position: relative;
  z-index: 10;
  padding: 25px 0;
  &-wrapper {
    @include clearfix;
  }
  &__logo {
    @include span(3);
    img {
      width: auto;
      max-height: 75px;
      max-width: 200px;
    }
  }
  &__nav {
    float: right;
    width: auto;
    text-align: right;
    &-utility {
      font-size: 0;
      margin: 0 0 30px;
      li {
        display: inline-block;
        vertical-align: top;
        font-size: 13px;
        line-height: 13px;
        @include letter-spacing(-10, 13);
        @extend %OpenSansSemibold;
        color: #4e4449;
        &::after {
          content: '•';
          color: inherit;
          padding: 0 8px;
        }
        &:last-child {
          &::after {
            content: none;
            padding: 0;
          }
        }
      }
    }
    &-menu {
      font-size: 0;
      li {
        display: inline-block;
        vertical-align: top;
        font-size: 15px;
        line-height: 15px;
        @include letter-spacing(-10, 15);
        margin-left: 60px;
        @extend %OpenSansSemibold;
        a {
          color: #4e4449;
        }
      }
    }
  }
}
