@import '../../global/defaults/config',
'../../global/defaults/mixins',
'../../global/defaults/typography';

.header {
  height: 135px;
  background-color: #fff;
  position: relative;
  &-wrapper {
    @include clearfix;
  }
  &__logo {
    @include span(3);
    line-height: 135px;
    img {
      width: auto;
      max-height: 75px;
    }
  }
  &__nav {
    float: right;
    width: auto;
    text-align: right;
    &-utility {
      font-size: 0;
      margin: 30px 0;
      li {
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        line-height: 16px;
        @include letter-spacing(-10, 16);
        @extend %OpenSansbold;
        color: #4e4449;
        &::after {
          content: '•';
          color: inherit;
          padding: 0 12px;
        }
        &:last-child {
          &::after {
            content: none;
            padding: 0;
          }
        }
      }
    }
    &-menu {
      font-size: 0;
      li {
        display: inline-block;
        vertical-align: top;
        font-size: 22px;
        line-height: 22px;
        @include letter-spacing(-10, 22);
        margin-left: 30px;
        @extend %OpenSansbold;
        a {
          color: #4e4449;
        }
      }
    }
  }
}
