@import '../../global/defaults/mixins';

.footer {
  background-color: #94607e;
  padding: 20px 0 18px;
  text-align: center;
  color: #fff;
  p {
    font-size: 14px;
    @include letter-spacing(-30, 14);
  }
}
