<section class="section locations section--locations{{#each this.classes}} section--{{this}}{{/each}}">
  <div class="locations__list">
    {{#each this.location}}
      <div class="locations__list-location">
        <div class="locations__list-location__info">
          <h4>{{this.name}}</h4>
          <p>{{{this.address}}}</p>
        </div>
        <div class="locations__list-location__map">
          <div class="locations__list-location__map-code" data-address="{{{this.address}}}"></div>
        </div>
      </div>
    {{/each}}
  </div>
</section>
