@import '../../global/defaults/config',
'../../global/defaults/mixins',
'../../global/defaults/typography';

.accordion {
  &__header {
    padding: 40px 0;
    text-align: center;
    &-title {
      @include font-size(45, initial);
    }
  }
  &--container {
    background-color: $white;
    color: $emperor;
  }
  &__item {
    padding: 40px 0;
    border-bottom: 1px solid rgba($emperor, .4);
    &-title {
      position: relative;
      cursor: pointer;
      h6 {
        @include font-size(22, initial);
        @extend %OpenSansSemibold;
      }
      &::before,
      &::after {
        content: '';
        border-radius: 100px;
        position: absolute;
        right: 0;
        background-color: $persimmon;
        top: 50%;
        transform: translateY(-50%);
      }
      &::before {
        width: 30px;
        height: 2px;
        top: 50%;
      }
      &::after {
        height: 30px;
        width: 2px;
        right: 15px;
        transition: height 400ms;
      }
    }
    &-answer {
      display: none;
      margin-top: 20px;
      padding-right: 40px;
      p {
        @include font-size(16);
        margin-bottom: 15px;
      }
    }
    &--open {
      .accordion__item {
        &-title {
          &::after {
            height: 0;
          }
        }
        &-answer {
          display: block;
        }
      }
    }
    &:last-child {
      border-bottom: 0 none;
    }
  }
  @include mq($max, $tablet) {
    &__header {
      &-title {
        @include font-size(30, initial);
      }
    }
    &__item {
      padding: 25px 0;
      &-title {
        padding-right: 26px;
        h6 {
          @include font-size(16, initial);
        }
        &::before {
          width: 16px;
          height: 2px;
        }
        &::after {
          height: 16px;
          right: 7px;
        }
      }
      &-answer {
        p {
          @include font-size(14);
          margin-bottom: 5px;
        }
      }
    }
  }
}
