@import '../../global/defaults/config',
'../../global/defaults/mixins',
'../../global/defaults/grid',
'../../global/defaults/typography';

.resources {
  &__resource {
    margin-bottom: 40px;
    font-size: 0;
    .icon--container {
      margin-right: 5%;
      width: 5%;
    }
    &-content {
      width: 90%;
      display: inline-block;
      vertical-align: top;
      &__title {
        @include font-size(22, initial);
        color: $emperor;
        @extend %OpenSansSemibold;
        margin-bottom: 5px;
        h4 {
          font-family: inherit;
          font-weight: inherit;
        }
      }
      &__text {
        p {
          @include font-size(16);
        }
      }
      .cta--container {
        margin-top: 15px;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
