@import '../../global/defaults/config',
'../../global/defaults/mixins',
'../../global/defaults/typography';

.resources {
  padding: 100px 0;
  &__resource-content {
    &__title {
      font-size: 26px;
      @include letter-spacing(-20, 26);
      color: #4e4449;
      @extend %OpenSansSemibold;
    }
    &__text {
      font-size: 20px;
      line-height: 30px;
      @include letter-spacing(-30, 20);
      p {
        font-size: inherit;
        line-height: inherit;
      }
    }
  }
  &.section--slant {
    &--top-left,
    &--top-right {
      padding-top: 220px;
    }
    &--bottom-left,
    &--bottom-right {
      padding-bottom: 220px;
    }
  }
}
