@import '../../global/defaults/config',
'../../global/defaults/mixins',
'../../global/defaults/grid',
'../../global/defaults/typography';

.resources {
  &__resource {
    margin-bottom: 40px;
    &-content {
      &__title {
        @include font-size(24, initial);
        color: $emperor;
        @extend %OpenSansbold;
        margin-bottom: 10px;
        h1, h2, h3, h4, h5, h6 {
          font-family: inherit;
          font-weight: inherit;
        }
      }
      &__text {
        p {
          @include font-size(16);
        }
      }
      .cta--container {
        margin-top: 15px;
      }
    }
  }
}
