@import '../../global/defaults/config',
'../../global/defaults/mixins';

.footer {
  background-color: $strikemaster;
  padding: 20px 0 18px;
  text-align: center;
  color: $white;
  p {
    @include font-size(14, initial);
  }
  @include mq($max, $mobile) {
    p {
      @include font-size(12, initial);
    }
  }
}
