@import '../../global/defaults/config',
'../../global/defaults/mixins',
'../../global/defaults/typography';

.documents {
  padding: 80px 0;
  h4 {
    display: block;
    font-size: 40px;
    @include letter-spacing(-30, 40);
    margin-bottom: 30px;
  }
  &__content {
    ul {
      @include clearfix;
    }
    li {
      font-size: 20px;
      line-height: 32px;
      @include letter-spacing(-30, 20);
      margin-bottom: 30px;
      margin-left: 22px;
      list-style-type: disc;
      list-style-position: outside;
      color: #ff6651;
      width: 30%;
      margin-right: 1%;
      float: left;
      span {
        color: #4e4449;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__items {
    text-align: left;
    margin-top: 100px;
    @include clearfix;
    &__item {
      @include span(3);
      text-align: center;
      &-title {
        font-size: 26px;
        @extend %OpenSansSemibold;
        @include letter-spacing(-30, 26);
        line-height: 27px;
        h6 {
          font-family: inherit;
        }
      }
      img {
        margin-bottom: 30px;
        width: 80%;
      }
      .cta--container {
        margin-top: 30px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
