@import '../../global/defaults/config',
'../../global/defaults/mixins',
'../../global/defaults/typography';

.documents {
  h4 {
    display: block;
    font-size: 35px;
    @include letter-spacing(-30, 35);
    margin-bottom: 50px;
  }
  &__content {
    ul {
      margin-bottom: 30px;
    }
    li {
      font-size: 16px;
      line-height: 36px;
      @include letter-spacing(-30, 16);
      margin-bottom: 10px;
      margin-left: 22px;
      color: #ff6651;
      width: 30%;
      margin-right: 1%;
      display: inline-block;
      position: relative;
      vertical-align: top;
      span {
        color: #4e4449;
      }
      &::before {
        content: '';
        width: 8px;
        height: 8px;
        background-color: #ff6651;
        border-radius: 50%;
        top: 14px;
        left: -15px;
        position: absolute;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__items {
    text-align: left;
    margin-top: 100px;
    @include clearfix;
    &__item {
      @include span(3);
      text-align: center;
      &-title {
        font-size: 20px;
        @extend %OpenSansSemibold;
        @include letter-spacing(-30, 20);
        line-height: 20px;
        h6 {
          font-family: inherit;
        }
      }
      img {
        margin-bottom: 50px;
        width: 75%;
      }
      .cta--container {
        margin-top: 10px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
