@import '../../global/defaults/config',
'../../global/defaults/mixins',
'../../global/defaults/grid',
'../../global/defaults/typography';

.documents {
  &__title {
    @include font-size(35);
    margin-bottom: 50px;
    text-align: left;
    h4 {
      font-family: inherit;
      font-weight: inherit;
    }
  }
  &__content {
    margin-bottom: 100px;
    text-align: left;
    ul {
      margin-bottom: 30px;
    }
    h4 {
      @include font-size(35, initial);
      margin-bottom: 50px;
    }
    p, li {
      @include font-size(16);
    }
    li {
      margin: 0 1.6666666667% 25px;
      color: $emperor;
      width: 28%;
      display: inline-block;
      position: relative;
      vertical-align: top;
      h5, b, strong {
        @include font-size(20, null, -20);
        @extend %OpenSansSemibold;
      }
      span {
        color: $emperor;
      }
      &::before {
        content: '';
        width: 8px;
        height: 8px;
        background-color: $persimmon;
        border-radius: 50%;
        top: 11px;
        left: -15px;
        position: absolute;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__items {
    display: flex;
    // text-align: left;
    // @include clearfix;
    &__item {
      // float: left;
      @include col(3);
      flex: 1;
      text-align: center;
      &-img {
        margin-bottom: 50px;
        img {
          width: 75%;
        }
      }
      &-title {
        @include font-size(20, initial);
        @extend %OpenSansSemibold;
        h6 {
          font-family: inherit;
          font-weight: inherit;
        }
      }
      .cta--container {
        margin-top: 10px;
      }
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  @include mq($max, $laptop) {
    &__content {
      li {
        width: 40%;
        margin-left: 3%;
        margin-right: 3%;
      }
    }
    &__items {
      display: block;
      &__item {
        float: left;
        flex: initial;
        width: 50%;
        margin-bottom: 50px;
        &-img {
          margin-bottom: 15px;
        }
      }
    }
  }
  @include mq($max, $tablet) {
    &__content {
      li {
        text-align: left;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
  @include mq($max, $phablet) {
    &__content {
      p, li {
        @include font-size(14);
      }
    }
    &__items {
      &__item {
        float: none;
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }
}
