<div class="mobile-menu">
  <nav class="mobile-menu-nav">
    <div class="mobile-menu-header">
      <div class="mobile-menu-logo">
        <a href="/">
          <img src="/media/img/logo.png" alt="" />
        </a>
      </div>
      <div class="mobile-menu-close"><i></i></div>
    </div>
    <div class="mobile-menu-nav-menus">
      <ul class="mobile-menu-nav-menu">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Our Team</a></li>
        <li class="has-menu expanded">
          <a href="#">Care Services</a>
          <ul class="sub-menu">
            <li><a href="#">link</a></li>
          </ul>
        </li>
        <li class="has-menu expanded">
          <a href="#">News & Resources</a>
          <ul class="sub-menu">
            <li><a href="#">link</a></li>
          </ul>
        </li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>
</div>
