@import '../../global/defaults/config',
'../../global/defaults/mixins',
'../../global/defaults/grid';

.split-content {
  &__content {
    @include col(5);
    float: left;
    h4 {
      @include font-size(35, initial);
      margin-bottom: 50px;
    }
    p, li {
      @include font-size(16);
    }
    li {
      margin-bottom: 10px;
      margin-left: 22px;
      color: $persimmon;
      position: relative;
      span {
        color: $emperor;
      }
      &::before {
        content: '';
        width: 8px;
        height: 8px;
        background-color: $persimmon;
        border-radius: 50%;
        top: 9px;
        left: -15px;
        position: absolute;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__img {
    position: absolute;
    right: 0;
    height: calc(100% + 240px);
    background-repeat: no-repeat;
    width: 100%;
    top: 50%;
    z-index: -1;
    bottom: 0;
    transform: translateY(-50%);
    background-size: auto 100%;
    background-position: right center;
  }
  @include mq($max, $laptop) {
    &__content {
      @include col(9);
    }
  }
  @include mq($max, $tablet) {
    &__content {
      max-width: none;
      width: 100%;
      h4 {
        @include font-size(30, initial);
        margin-bottom: 25px;
      }
      p, li {
        @include font-size(14);
      }
    }
    &__img {
      height: calc(100% + 120px);
    }
  }
}
