@import '../../global/defaults/config',
'../../global/defaults/mixins',
'../../global/defaults/typography';

.accordion {
  &__header {
    padding: 40px 0;
    text-align: center;
    &-title {
      font-size: 45px;
      @include letter-spacing(-30, 45);
    }
  }
  &--container {
    background-color: $white;
  }
  &__item {
    padding: 40px 0;
    border-bottom: 1px solid rgba(#4e4449, .4);
    &--wrapper {
      @include container($susy);
    }
    &-title {
      font-size: 26px;
      line-height: 46px;
      @include letter-spacing(-30, 26);
      position: relative;
      cursor: pointer;
      @extend %OpenSansSemibold;
      h1, h2, h3, h4, h5, h6 {
        font-family: inherit;
        font-weight: inherit;
      }
      &::before,
      &::after {
        content: '';
        border-radius: 100px;
        position: absolute;
        right: 0;
        background-color: #ff6651;
        top: 50%;
        transform: translateY(-50%);
      }
      &::before {
        width: 30px;
        height: 2px;
        top: 50%;
      }
      &::after {
        height: 30px;
        width: 2px;
        right: 15px;
        transition: height 400ms;
      }
    }
    &-answer {
      display: none;
      font-size: 16px;
      line-height: 36px;
      @include letter-spacing(-30, 16);
      margin-top: 20px;
      p {
        font-size: inherit;
        line-height: inherit;
        margin-bottom: 15px;
      }
    }
    &--open {
      .accordion__item {
        &-title {
          &::after {
            height: 0;
          }
        }
        &-answer {
          display: block;
        }
      }
    }
    &:last-child {
      border-bottom: 0 none;
    }
  }
}
