@import '../../global/defaults/config',
'../../global/defaults/mixins',
'../../global/defaults/typography';

.accordion {
  &__header {
    padding: 40px 0;
    text-align: center;
    &-title {
      @include font-size(45, initial);
    }
  }
  &--container {
    background-color: $white;
  }
  &__item {
    padding: 40px 0;
    border-bottom: 1px solid rgba($emperor, .4);
    &--wrapper {
      @include container($susy);
    }
    &-title {
      @include font-size(26, initial);
      position: relative;
      cursor: pointer;
      @extend %OpenSansSemibold;
      h6 {
        font-family: inherit;
        font-weight: inherit;
      }
      &::before,
      &::after {
        content: '';
        border-radius: 100px;
        position: absolute;
        right: 0;
        background-color: $persimmon;
        top: 50%;
        transform: translateY(-50%);
      }
      &::before {
        width: 30px;
        height: 2px;
        top: 50%;
      }
      &::after {
        height: 30px;
        width: 2px;
        right: 15px;
        transition: height 400ms;
      }
    }
    &-answer {
      display: none;
      margin-top: 20px;
      p {
        @include font-size(16);
        margin-bottom: 15px;
      }
    }
    &--open {
      .accordion__item {
        &-title {
          &::after {
            height: 0;
          }
        }
        &-answer {
          display: block;
        }
      }
    }
    &:last-child {
      border-bottom: 0 none;
    }
  }
}
